@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');

@import 'tailwindcss';

:root {
	font-family: 'Bricolage Grotesque', sans-serif;
	background-color: #f0f0f0;
}
